<p style="color: green"><%= notice %></p>

<%= render @outfit %>



<div>

  <% @outfit.items.map do |item| %>
    <%= item.name %>,
  <% end %>

  <%= render "shared/add_item_to_outfit_form" %>
  <%= link_to "Edit this outfit", edit_outfit_path(@outfit) %> |
  <%= link_to "Back to outfits", outfits_path %>

  <%= button_to "Destroy this outfit", @outfit, method: :delete %>
</div>
