<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @item.categories.map do |category| %>
        <tr>
          <th scope="row"><%= category.name %></th>

          <td><%= button_to "Remove Category", remove_category_item_path(@item, category_id: category.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
      <tr>
        <%= render "shared/add_category_to_item_form" %> 
      </tr>
    </tbody>
  </table>
  <%= form_with url: increment_compliments_item_path(@item), method: :patch do %>
    <%= submit_tag 'Increment Compliments' %>
  <% end %>
  <%= form_with url: decrement_compliments_item_path(@item), method: :patch do %>
    <%= submit_tag 'Decrement Compliments' %>
  <% end %>
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
